@charset "utf-8";
/* CSS Document */
/* borrowed reset */ body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}body{font:13px/1.231 arial,helvetica,clean,sans-serif;font-size:small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif; resize:none;}table{font-size:inherit;}pre,code,kbd,samp,tt{font-family:monospace;font-size:108%;line-height:100%;}a:focus,a:hover,a:active{outline:none}sub,sup{font-size:75%;line-height:0;position:relative;}sup{top:-0.5em;}sub{bottom:-0.25em;}.left{float:left;}.right{float:right;}.clear{clear:both;}.lclear{clear:left;}.rclear{clear:right;}.none{display:none;}.hidden{visibility:hidden;}.highlight{background-color:Yellow;}.inline{ display:inline; }.blockImage{ text-indent:-9999px; display:block;}.hand{cursor:pointer;}article,aside,figure,footer,header,hgroup,nav,section{display:block;}html{overflow-y:scroll;}del{text-decoration:line-through;}a,.clickable,label,input[type=button],input[type=submit],button{cursor:pointer;}button,input,select,textarea{margin:0;}button{width:auto;overflow:visible;}body{font:13px Helmet,Freesans,sans-serif;} a:link{-webkit-tap-highlight-color:#4d148c;} */

.clear {
	clear:both;
}
#wrapper {
	width:100%;
	margin:0px auto;
	/* max-width: 1020px; */
	min-width: 320px;
}
h1 {
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36px;
	line-height: 1.1em;
	color: #FFC;
	clear:right !important;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	/*Found some scroll-bar changing code*/
	/* courtesy bytes.com newsgroup */
	scrollbar-face-color: #666666;
	scrollbar-highlight-color: #333333;
	scrollbar-shadow-color: #222222;
	scrollbar-3dlight-color: #888888;
	scrollbar-arrow-color: #ff0000;
	scrollbar-track-color: #222222;
	scrollbar-darkshadow-color: #111111
}
}
/*#content { width:80%; }
#toc a { display:block; color:#0094FF;}  
#toc a[title=H1] { font-size:18px;}
#toc a[title=H2] { font-size:14px;}
#toc a[title=H3] { font-size:10px;}*/
}
.searchContainer {float:left; clear:none; margin: 5px; }
.searchContainer select {color:#999; font-size:12px; width:140px; border:1px solid #dddddd; margin:5px; border-radius: 2px; -webkit-border-radius:2px; border-radius:2px; float:left; height:22px;}
.searchContainer input[type='text'] {color:#999; font-size:12px; width:120px; border:1px solid #dddddd; margin: 5px auto; padding:2px; height:16px; webkit-border-radius:2px; border-radius:2px; float:left; }
.searchContainer .btnSearch {
	background: url(../Images/btn-search.png) top left no-repeat;
	width: 26px;
	height: 21px;
	border: none;
	margin: 0 7px 0 5px;
	float: left;
}
.masthead a.logo-area {float: left; font-size: 36px; width: 140px; height: 66px; display: block; color: red; background-image: url(/content/images/LWS_Menubar1_01.gif); padding: 0; margin: -5px 10px 0px 0px; background-repeat: no-repeat;}
.mainimage a.logo-area {font-size: 36px; width: 140px; height: 66px; display: block; color: red; background-image: url(/content/images/LWS_Menubar1_01.gif); padding: 0; margin: 10px 10px 10px -10px; background-repeat: no-repeat;}
#wrapper #navbar {
	height: 32px;
	/* width:737px; */
	background-color: #FF9;
	position: relative;
	float: left;
	clear: none;
	display: block;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #06C;
}
ul {
	list-style-type: none;
	margin: 0;
	padding-top:3px;
	padding-bottom:3px;
	padding-right: 0;
	padding-left: 0;
	clear: both;
	float: right;
	/* width: 300px; */
}
li {
	float:right;
	padding-right: 0px;
	padding-left: 0px;
}
a:link, a:visited {
	color:#33CCFF;
	width: 90px;
	text-align:center;
	padding-right:6px;
	padding-left: 6px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style:none;
	border-left-style:none;
	border-right-width:thin;
	border-right-color:#33CCFF;
	/* [disabled]background-color:#66FFFF; */
	text-decoration: none;
}
a:last {
	border-right-style:none;
	/* not working - wrong selectors?*/
}
a:hover,a:active {
	/* [disabled]background-color:#7A991A; */
	color: #7A991A;
}
/* Home Page specific rules */ 
#wrapper .article {
	margin: 0 auto;
    width: 522px;
	background-color: #CF9;
	float: left;
	height: auto;
	border-right-width: thin;
	border-right-style: double;
	border-right-color: #06C;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#wrapper .aside {
	width: 203px;
	float: right;
	background-color: #9CC;
	height: 540px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#wrapper .footer {
	clear: both;
	background-color: #F96;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 5px;
}
#wrapper .article p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1em;
}
.socialcontainer {
	float:left;
	width: 200px;
	clear:both;
	background:#FFF;
}
h2 {
	font-size: 18px;
	line-height: 0.86em;
	font-weight: bold;
    padding-bottom: 5px;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 2em;
	background-color: #FFF;
	height: 36px;
	text-indent: 25px;
	padding-top: 10px;
}
.aside p {
	font-size: 10px;
	line-height: normal;
	font-weight: normal;
}
.masthead {
	background-color: #06C;
	position: relative;
	padding: 5px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2em;
}
.footer p {
	font-size: 10px;
	font-style: normal;
	line-height: .84em;
	font-weight: normal;
}
.footer h5 {
    color: darkblue;  
}
.footer .col1 h5 {
    font-size: 14px;
    font-weight: bold;
}
.col1 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    line-height: 18px;
    }
.col1 a {
    font-size: 12px;
    color: darkblue;
}
.col1 span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.col1 p {
    font-size: 12px;
}
.links {
    text-align: right;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    column-count: 1;
}
.masthead p {
	font-size: 14px;
	line-height: .86em;
	color: #FFC;
}
/* Gallery section specific styles */
#wrapper .mainimage {
	width: 280px;
	background-color: #CF9;
	float: left;
	height: 98%;
	min-height: 400px;
	max-height: 920px !important;
	border-right-width: thin;
	border-right-style: double;
	border-right-color: #06C;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-right: 10px;
	display: block;
}
#wrapper #gallery {
	background-color: #FF9;
	display: block;
	float: left;
	width: 100%;
	position: relative;
	height: 100%;
}
#wrapper #gallery .displayarea {
	background-color: #6C9;
}
.tn_slide {
	float: left;
	background-color: #666;
	text-align: center;
	padding: 10px;
	display: block;
	margin: 5px;
}
/* #gallery .displayarea .tn_slide img {
	position: relative;
    display: block;
	height: auto;
	width: 100%;
}*/
.displayarea .tn_slide p {
	font-size: 11px;
	color: #FFF;
	margin: 5px;
	line-height: .86em;
/* can't get this one to work - probably selector issue */
/*
}
.displayarea .tn_slide p:first-child {	
	font-size: 14px;
	*/
}
.displayarea .tn_slide p span {	
	font-size: 12px;
	line-height: .96 em;
}
/* mobile styles */
@media screen and (max-width: 480px) {

h1 {
	font-size: 24px;
	line-height: .96 em;
}
.masthead {
	padding: 2px;
	clear:both;
	text-align:center;
}
#wrapper .mainimage {
	background-color:transparent;
	width: 299px;
	border-right-width: 0;
	border-right-style: none;
	border-right-color: transparent;
}
body {
	width: 300px;
}
#gallery {
	margin: 0 auto;
}
ul {
	float: right;
	width: 260px;
	padding-right: 65px;
}
a:link, a:visited {
	width: 70px;
}
.displayarea {
	clear:both;
    height: auto;
}
h3 {
	font-size:16px;
	line-height: .9 em;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 1em;
}
.footer {
	text-align: center;
}
.col1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    line-height: 18px;
}
.tn_slide {
	height: auto;
	width: 100%;
	float: left;
	background-color: #666;
	text-align: center;
	padding: 10px;
	display: block;
	margin: 7.5px;
}
#gallery .displayarea .tn_slide img {
	display: block;
	padding-bottom: 3px;
}
.displayarea .tn_slide p {
	font-size: 8px;
	color: #FFF;
	margin: 3px;
	line-height: .86em;
}
}
