body { padding-top: 3rem;}

.starter-template { padding: 2rem 1.5rem;
            text-align: center; }
em { display="block"}

pre { line-height: .5em; background-color: aliceblue; padding: 1em; margin: auto; }

xmp { font-size: 8pt; margin: 0; padding: 1em; line-height: 1em;}